<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  	<div class="jumbotron">
		<h3>{{ news.titre }}</h3>
		{{ news.description|raw }}
		{% for cadeau in news.cadeaux|sortbyfield('ordre') %}
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="col-sm-12 col-md-6">
					<h4 class="panel-title">{{ cadeau.nom }}</h4>
				  	{{ cadeau.description|raw }}
				</div>
			  	<div class="col-sm-12 col-md-6">
				  	<div id="carousel-{{ cadeau.id }}" class="carousel slide photoCadeauSlide">
					  <!-- Indicators -->
					  {% if cadeau.photos|length> 1 %}
						  <ol class="carousel-indicators">
						  	{% for key, photo in cadeau.photos %}
						  		<li data-target="#carousel-{{ cadeau.id }}" data-slide-to="{{ key }}" {%if key == 0 %}class="active"{%endif %} ></li>
						    {% endfor %}
						  </ol>
						 {% endif %}

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	{% for photo in cadeau.photos[0:1] %}
						  	<div class="item active">
						      {% media photo.image, 'reference' %}
						    </div>
				  		{% endfor %}
					  	{% for photo in cadeau.photos[1:] %}
						  	<div class="item">
						      {% media photo.image, 'reference' %}
						    </div>
				  		{% endfor %}
				  		<div class="pauseCarousel"></div>
					  </div>

				  	{% if cadeau.photos|length > 1 %}
						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-{{ cadeau.id }}" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Précédent</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-{{ cadeau.id }}" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Suivant</span>
						  </a>
					{% endif %}
					</div>
				</div>
				<div class="clearfix"></div>
			  </div>
			</div>
		{% endfor %}
		{# <p><a class="btn btn-primary btn-lg" href="{{ news.lienFacebook }}" role="button">Pour voir les autres go FB</a></p> #}
		<div class="container-fluid text-center">
			<p class="msgOrange">Ces produits vous intéressent ?<br/>Vous souhaitez un devis ?</p>
			<a class="btn btn-warning" href="mailto:{{ contact_mail }}" role="button">Contactez-nous</a>
		</div>
	</div>
</div>