{% extends "CUICoreBundle::layout.html.twig" %}

{% block banniere %}
	<div class="item active">
		<a href="{{ path('cui_core_home') }}">
			<img src="{{ asset('bundles/cuicore/images/bandeau_haut.jpg') }}" alt="banniere" />
		</a>
	</div>
{% endblock %}

{% block descriptionBanniere %}
	<div class="col-md-4 col-sm-6 col-xs-12">
		<h1 id="titreEchanger">Échanger</h1>
		<p>sur vos valeurs, vos objectifs, pour déterminer ensemble l’objet idéal, celui qui mettra votre entreprise en lumière.</p>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<h1 id="titreProposer">Proposer</h1>
		<p>les meilleures options possibles combinant le sourcing, la créativité, l’approche budgétaire et le respect de vos délais.</p>
	</div>
	<div class="col-md-4 col-md-offset-0 col-sm-offset-3 col-sm-6 col-xs-12">
		<h1 id="titreConcevoir">Concevoir</h1>
		<p>un objet unique, qui associera couleurs, formes, matières et fonctionnalités, afin de raconter votre histoire et de susciter l’émotion de vos clients.</p>
	</div>
{% endblock %}

{% block btnCatalogue %}
	<img src="{{ asset('bundles/cuicore/images/btn_catalogue.png') }}" alt="Consultez notre catalogue en ligne" />
{% endblock %}

{% block content %}

	<div id="pointsforts">

	    <img src="{{ asset('bundles/cuicore/images/picto_conseil.png') }}" alt="conseil" />

	    <img src="{{ asset('bundles/cuicore/images/picto_creativite.png') }}" alt="créativité" />

	    <img src="{{ asset('bundles/cuicore/images/picto_sourcing.png') }}" alt="sourcing" />

	    <img src="{{ asset('bundles/cuicore/images/picto_production.png') }}" alt="production" />

	    <img src="{{ asset('bundles/cuicore/images/picto_logistique.png') }}" alt="logistique" />

	</div>

	<div id="coupdecoeur">
		<a href="{{ path('cui_coupdecoeur_index') }}">
			<h2>Découvrez</h2>
			<h1>nos coups de coeur</h1>
		</a>
	</div>

{% endblock %}



{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/cuicore/css/home.css') }}" type="text/css" />

{% endblock %}