{% extends "CUICoreBundle::layout.html.twig" %}

{% block banniere %}
	<div class="item active">
		<a href="{{ path('cui_core_home') }}">
			<img src="{{ asset('bundles/cuicore/images/bandeau_haut.jpg') }}" alt="banniere" />
		</a>
	</div>
{% endblock %}

{% block descriptionBanniere %}
	<div class="col-md-4">
		<h1 id="titreEchanger">Échanger</h1>
		<p>Un objet unique qui associera couleurs, formes, matières et fonctions, afin de raconter une histoire, susciter une émotion.</p>
	</div>
	<div class="col-md-4">
		<h1 id="titreProposer">Proposer</h1>
		<p>Un objet unique qui associera couleurs, formes, matières et fonctions, afin de raconter une histoire, susciter une émotion.</p>
	</div>
	<div class="col-md-4">
		<h1 id="titreConcevoir">Concevoir</h1>
		<p>Un objet unique qui associera couleurs, formes, matières et fonctions, afin de raconter une histoire, susciter une émotion.</p>
	</div>
{% endblock %}

{% block btnCatalogue %}
	<img src="{{ asset('bundles/cuicore/images/btn_catalogue.png') }}" alt="Consultez notre catalogue en ligne" />
{% endblock %}

{% block content %}

	<div id="pointsforts">

	    <img src="{{ asset('bundles/cuicore/images/picto_conseil.png') }}" alt="conseil" />

	    <img src="{{ asset('bundles/cuicore/images/picto_creativite.png') }}" alt="créativité" />

	    <img src="{{ asset('bundles/cuicore/images/picto_sourcing.png') }}" alt="sourcing" />

	    <img src="{{ asset('bundles/cuicore/images/picto_production.png') }}" alt="production" />

	    <img src="{{ asset('bundles/cuicore/images/picto_logistique.png') }}" alt="logistique" />

	</div>

	<div id="coupdecoeur">
		<a href="{{ path('cui_coupdecoeur_index') }}">
			<h2>Découvrez</h2>
			<h1>nos coups de coeur</h1>
		</a>
	</div>

{% endblock %}



{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/cuicore/css/home.css') }}" type="text/css" />

{% endblock %}