{% extends "CUIPagesBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ page.rubrique.nom }} - {{ page.nom }}{% endblock %}

{% block banniere %}
	<div class="item active">
		    <img src="{{ asset('bundles/cuipages/images/bandeau_pages.jpg') }}" alt="banniere" />
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div id="header-page">

			<h1>{{ page.rubrique.nom|upper }}</h1>

			<h2>{{ page.titre|upper }}</h2>

		</div>

		<div id="contenu-page">{{ page.contenu|raw }}</div>
	</div>
{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	  <link rel="stylesheet" href="{{ asset('bundles/cuipages/css/view.css') }}" type="text/css" />

{% endblock %}