{# src/CUI/UserBundle/Resources/views/layout.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}

{# On étend notre layout #}
{% extends "CUICoreBundle::layout.html.twig" %}

{% block banniere %}
  <div class="item active">
      <img src="{{ asset('bundles/cuipages/images/bandeau_pages_1.jpg') }}" alt="banniere" />
  </div>
{% endblock %}

{# Dans notre layout, il faut définir le block body #}
{% block content %}
  <div class="container">
    <div id="contenu-page">

      <div class="panel panel-default">
        <div class="panel-body">
          {% if error %}
            <div class="alert alert-danger">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
          {% endif %}
          {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
          <form action="{{ path("fos_user_security_check") }}" method="post">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

              <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
              </label>
            </div>
            <button type="submit" class="btn btn-default" id="_submit" name="_submit" >{{ 'security.login.submit'|trans }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}

  {{ parent() }}

  <link rel="stylesheet" href="{{ asset('bundles/cuipages/css/view.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ asset('bundles/cuiuser/css/view.css') }}" type="text/css" />

{% endblock %}